.tweets {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 1em;
  border: 3px solid #545149;
}

article.tweets>header {
  width: 100%;
  height: auto;
  background-color: #f4f1ec;
  background-image: none;
}

article.tweets>header>p {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

article.tweets>footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

i:hover {
  color: orange;
  cursor: pointer;
}

.image-name-handle {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.tweets-img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  margin: 0;
}

.tweets:hover {
  box-shadow: 2px 2px 2px 2px #545149;
}